# Flutter/Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
build/
*.iml
.idea/
.gradle/
*.g.dart

# Android
android/.gradle/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/
**/GeneratedPluginRegistrant.*

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner.xcworkspace/xcshareddata/xcschemes/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

# Web
web/sqlite3.wasm

# Windows
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugin_registrant.h
windows/flutter/generated_plugins.cmake

# Miscellaneous
*.swp
.DS_Store
nul
.claude/

# PDFs
*.pdf
